.header {
	padding: 25px 0;
	border-bottom: 1px solid #CFCFCF;

	& .container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		padding: 0 30px;
	}

	& .side__logo, & .side__search, & .side__cart {
		cursor: pointer;
	}

	& .side__search {
		margin-left: auto;
	}

	& .header__side {
		display: flex;
		flex-flow: row nowrap;
		gap: 0 30px;
	}

	& .side__cart {
		position: relative;
		& .cart__count {
			position: absolute;
			top: -5px;
			right: -10px;

			height: 16px;
			width: 16px;
			background-color: #3366FF;
			border-radius: 100%;

			color: #FFFFFF;

			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 10px;
		}
	}
}
