.header {
	padding: 26px 0;
	border-bottom: 1px solid #CFCFCF;
	max-height: 85px;
	background-color: #FFFFFF;
	z-index: 1;

	& .container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		padding: 0 30px;
	}

	& .side__logo, & .side__search, & .side__cart, & .side__menu {
		cursor: pointer;
	}
	
	& .side__menu {
		transition: .3s all;
		&[data-active=true]
		{
			transform: rotate(90deg);
		}
	}
	& .side__search {
		margin-left: auto;
	}

	& .header__side {
		display: flex;
		flex-flow: row nowrap;
		gap: 0 30px;
	}

	& .side__cart {
		position: relative;
		& .cart__count {
			position: absolute;
			top: -5px;
			right: -10px;

			height: 16px;
			width: 16px;
			background-color: #3366FF;
			border-radius: 100%;

			color: #FFFFFF;

			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 10px;
		}
		& img {
			transition: .3s all;
		}
		&[data-active=true]
		{
			& img {
				transform: scaleX(-1);
			}
		}
	}
}

@media screen and (min-width: 768px)
{
	.side__menu {
		display: none;
	}
}

@media screen and (max-width: 768px)
{
	.header {
		position: sticky;
		top: 0;
		
		& .menu {
			position: absolute;
			top: 85px;
			left: calc(100% + 150px);
			transition: .6s all;

			display: flex;
			flex-flow: column nowrap;
			width: 100%;
			text-align: center;

			background-color: #FFFFFF;

			z-index: 1;

			& .menu__item  {
				padding: 25px 0;
				font-size: 18px;
				border-bottom: 1px solid #CFCFCF;
			}
		}

		&[data-menu=true]
		{
			& .menu {
				left: 0;
			}
		}
	}
}



@media screen and (max-width: 1024px)
{
	.header {
		position: sticky;
		top: 0;

		& ~ .main .side {
			position: absolute;
			background-color: #FFFFFF;
			top: 85px;
			right: calc(-100% + 150px);
			transition: .6s all;
		}
		
		&[data-basket=true]
		{
			& ~ .main .side {
				border-left: 1px solid #CFCFCF;
				right: 0;
			}
		}
	}
}

