.basket {
    padding: 40px;
    border-bottom: 1px solid #CFCFCF;

    & .basket__product {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        gap: 0 15px;
        & .product__image {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        & .content__name {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }

        & .content__control {
            display: flex;
            flex-flow: row nowrap;
            gap: 0 10px;

            flex-grow: 1;

            margin-top: 30px;

            & .control__minus, & .control__plus {
                cursor: pointer;
            }

            & .control__count {
                width: 25px;
                text-align: center;
            }

            & .control__price {
                margin-left: 5px;
                &::before {
                    content: "$";
                }
            }
        }

        & .product__delete {
            margin-left: auto;
            cursor: pointer;
            height: fit-content;
        }

        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }

}