.main {
	display: flex;
	flex-flow: row nowrap;
    justify-content: end;
    
	flex-grow: 1;
	& .content {
		padding: 60px;
		flex-grow: 1;

		border-right: 1px solid #CFCFCF;
	}

	& .side {
		height: 100%;
		width: 410px;
	}
}

@media screen and (max-width: 1024px) {
	.main .content {
		padding: 50px;
	}
}