.promo {
    padding: 40px;
    border-bottom: 1px solid #CFCFCF;

    & .promo__inputs {
        display: flex;
        flex-flow: row nowrap;
        gap: 0 10px;
        
        & .text {
            flex-grow: 1;
        }
    }
}